{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="user-details">
                <div class="user-details-top">
                    <h4 class="username">{{ user_profile.username|capfirst }}</h4>
                    <div class="user-details-top-follow">
                        <form action="#" method="post">
                            {% csrf_token %}
                            {% if user != user_profile %}
                                {% if user.id not in profile_follower_id %}
                                    <label for="follow" class="follow-btn"><i class="fas fa-user-plus"></i>  Follow</label>
                                    <input id="follow" class="follow" type="submit" name="follow" value="follow">
                                {% else%}
                                    <label for="unfollow" class="unfollow-btn"><i class="fas fa-user-minus"></i>  Unfollow</label>
                                    <input id="unfollow" class="unfollow" type="submit" name="unfollow" value="following">
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>

                    <!-- <div class="email">Email: {{ user_profile.email }}</div>
                    <div class="join-date">Joined at {{ user_profile.date_joined}}</div> -->
                    <div class="connection">
                        <span>Followers:{{ user_profile.follower.count }}</span>
                        <span>Following:{{ user_profile.following.count }}</span>
                    </div>

            </div>
            {%  for post in page_obj %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.user.username|capfirst }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Posted at {{ post.timestamp }}</h6>
                        <p class="card-text">{{ post.content }}</p>
                        <p><i class="fas fa-heart"></i><span class="card-text" id="likes{{ post.id }}">{{ post.likes.count }}</span></p>
                        <hr>
                        {% if user in post.likes.all %}
                            <button data-postid="{{ post.id }}" class="btn btn-light like" style="color:dodgerblue"><i class="fas fa-thumbs-up"></i> Liked</button>
                        {% else %}
                            <button data-postid="{{ post.id }}" class="btn btn-light like"><i class="far fa-thumbs-up"></i> Like</button>
                        {% endif %}
                        <button class="btn btn-light comment"><i class="far fa-comment-alt"></i> Comment</button>
                        <button class="btn btn-light share"><i class="fas fa-share"></i> Share</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}
